body{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #28283D;
}
/* TEXT */
h1{
    margin-top: 255px;
    font-size: clamp(2.5rem,6vw,4rem);
    line-height: clamp(2.75rem,6vw,4rem);
    font-weight: 900;
    width: clamp(18rem,42vw,27rem);
}
h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    width: clamp(312px,55vw,455px);
    margin: 5% auto;
}
p{
    color: #87879D;
    width: clamp(21.5rem,56vw,36rem);
    margin: 0 auto;
}
.slogan{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: #4D96A9;
    letter-spacing: 4px;
}
footer p{
    width: clamp(327px,74vw,388px);
    margin: 10% 8% !important;
    color: #FAFAFA !important;
}
footer h2{
    color: #FAFAFA !important;
}
/* IMAGES */
.logo{
    display: flex;
    justify-content: center;
    margin: 10% auto;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}
header .img{
    width: 420px;
    display: inline-block;
    position: absolute;    
}
.left{
    left:clamp(-20px,-3.7vw,-40px);
}
.right{
    right: clamp(-20px,-3.7vw,-40px);
}
.main-grid img{
    width:clamp(150px,20vw,260px) !important;
    border-radius: 3%;
    align-self: center;
    justify-self: end;
}
.mobile-footer{
    position: absolute;
    width: 390px;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.1;
}
/* BUTTONS */
button{
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin: 5% auto 0;
    width: 200px;
    padding: 3%;
    border-style: none;
    border-radius: 90px;
    background-color: #4D96A9; 
    color: #fff;

}
.btn-small{
    width:150px;
    margin-left: 33%;
    margin-bottom: 20%;
    background-color: #855FB1;
}
.blue:hover{
    background-color: #71C0D4;
}
.purple:hover{
    background-color: #B18BDD;
}
footer button{   
    background-color: #855FB1;
    position: relative;
    z-index: 2;
}
/* SIGN */
.ball-point{
    margin-top:78px;
}
.line{
    width: 0px;
    border: solid 0.5px;
    border-color: #87879D;
    height: 84px;
    margin: 0 auto;
}
.round{
    margin: 0 auto;
    display: flex;
    justify-content: center ;
    position: relative;
    border: 1px solid;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-color: #a5a5aa;
    z-index: 1;
    background-color: #fafafa;
}
.round p{
    margin: 0;
    width: 100%;
    align-self: center;
    color: #87879d !important;

}
/* MAIN */
.main-grid{
    margin: 64px auto;
    display: grid;
    gap: clamp(25px,2.5vw,30px);
    width: clamp(327px,85vw,1110px);  
    grid-template-columns: repeat(auto-fit, clamp(150px,20vw,255px));  
}
/* FOOTER */
.card{
    width: 100%;
    background-color: #4D96A9;
    padding-top: 15%;
    padding-bottom: 22%;
    position: absolute;
    z-index: 0;
    top: 1820px;
}

/* MEDIA */

@media screen and (max-width:400px) {
    h2{
        font-size: 32px;
        line-height: 36px;
    }
    header .img{
        width: 200px;
    }
    .tablet-footer{
        display: none;
    }
    .desktop-footer{
        display: none;
    }
    .main-grid{
        grid-template-rows: 1fr 1fr;
    }
}
@media screen and (min-width:500px) and (max-width:850px) {
    /* HEADER */
    .🏺{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    button{
        margin-left: 0px;
        display: inline-block;
    }
    .btn-small{
        margin-left: 3%;
    }
    /* MAIN */
    .main-grid{
        width: 689px !important;
        gap:11px !important;

    }
    main .grid{
        margin-top: 10%;
    }
    main p{
        width: 80%;
    }
    /* FOOTER */
    .mobile-footer{
        display: none;
    }
    .desktop-footer{
        display: none;
    }   
    .tablet-footer{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0.1;
    }
    .card{
        padding: 3% 0 7%;
        right: 0px;
        left: 0px;
        top: 1880px;
    }

    footer p{
        width: 75% !important;
        margin: 5% auto !important;
    }
    .grid{
        margin-top: 30%;
    }
    .card button{
        margin-top: 15px;
    }
    }

/* DESKTOP */
@media screen and (min-width:900px) {
    h1{
        margin-top: 0px;
    }
    button{
        display: inline;
        padding: 0;
        margin-left: 10px !important;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 20px;
    }
    .btn-small{
        width: 10% !important;
        margin-bottom: 10%;
    }
    .desktop-footer{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0.1;
    }
    p{
        font-size: 20px;
    }

    .tablet-footer{
        display: none;
    }
    .mobile-footer{
        display: none;
    }
    .card{
        padding: 0;
        height: 308px;
    }
    .card h2,.card p{
        text-align: left;
        display: inline-block;
    }

    .card button{
        top: -30px;
        margin-top: 0px;
    }

}
