body{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    text-align: center;
}
h1,p{
    margin: auto 10%;
}
h1{
    font-size: clamp(2.5rem,6vw,4rem);
    line-height: clamp(2.75rem,6vw,4rem);
    font-weight: 900;
    color: #28283D;
}
p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #87879D;
    width: 90%;
    margin: 10% 5%;
}


/* HEADER */
header{
    position: relative;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10% auto;
}
.flex{
    display: flex;
    flex-direction:column;
    
}
header .img{
    width: 420px;
    display: inline-block;
    position: absolute;    
}
.left{
    left:-20px
}
.right{
    right: -20px;
}
h1{
    margin-top: 255px;
}
button{
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    margin-left: 25%;
    width: 50%;
    padding: 3%;
    border-style: none;
    border-radius: 90px;
    background-color: #4D96A9; 
    color: #fff;
    margin-bottom: 5%;
}
.btn-small{
    width:33%;
    margin-left: 33%;
    margin-bottom: 20%;
    background-color: #855FB1;
}
.line{
    width: 0px;
    border: solid 0.5px;
    border-color: #87879D;
    height: 84px;
    margin: 0 auto;
}
.round{
    margin: 0 auto;
    display: flex;
    justify-content: center ;
   position: relative;
    border: 1px solid;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-color: #a5a5aa;
    z-index: 1;
    background-color: #fafafa;
}
.round p{
    margin: 0;
    width: 100%;
    align-self: center;
    color: #87879d !important;

}
/* MAIN */

.main-grid{
    margin: 20% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   gap:7%;
}
.img-right{
    justify-self: start !important;
}
.main-grid img{
    width:150px;
    border-radius: 3%;
    align-self: center;
    justify-self: end;
}
h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: #4D96A9;
    letter-spacing: 4px;
}
h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    color: #28283D;
    width: 80%;
    margin: 5% auto;
}

/* FOOTER */

footer p{
    width: 84% !important;
    margin: 10% 8% !important;
    color: #FAFAFA !important;
}
footer h2{
    color: #FAFAFA !important;
}

.card{
background-color: #4D96A9;
padding-top: 15%;
padding-bottom: 15%;
position: absolute;
z-index: 0;
top: 1810px;


}

footer button{   
    background-color: #855FB1;
    position: relative;
    z-index: 2;
}
.mobile-footer{
    position: absolute;
    width: 390px;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.1;
}
/* MEDIA */

/* MOBILE */
@media screen and (max-width:400px) {
    h2{
        font-size: 32px;
        line-height: 36px;
    }
    header .img{
        width: 200px;
    }
    .tablet-footer{
        display: none;
    }
}

/* TABLET */
@media screen and (min-width:500px) and (max-width:850px) {
    h1{
        margin:60% auto 0;
        width: 40%;
    }
    p{
        width: 60%;
        margin: 10% auto;
    }

    .left{
        left:-30px
    }
    .right{
        right: -30px;
    }  
    .🏺{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    button{
        padding: 20px 0;
        margin-left: 0px;
        display: inline-block;
        width: 200px;
    }
    .btn-small{
        margin-left: 3%;
        width: 150px;
    }
    .main-grid{
        margin: 10% 0;
        grid-template-columns: repeat(4,170px);
        grid-template-rows: 1fr;
        gap:2%;
        justify-content: center !important;
    }
    .main-grid img{
        width: 170px;
        align-self: center;
    }
    h2{
        width: 55%;
        
    
    }
    main p{
        width: 80%;
    }
    .card{
        top: 2050px;
        padding: 5% 0 0;
    }
    .mobile-footer{
        display: none;
    }
    .tablet-footer{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0.1;
    }
    .card{
        padding: 0px auto;
    }
    
    footer p{
        width: 75% !important;
        margin: 5% auto !important;
    }
}

/* DESKTOP */
@media screen and (min-width:900px) {
    p{
        font-size: 20px;
    }
    .left{
        left: -40px;
    }
    .right{
        right: -40px;
    }
    .tablet-footer{
        display: none;
    }
}